Repository aldra-consulting/landing-page-web: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:eslint:staged:fix, npm run lint:stylelint:staged:fix

Notes added by 'git notes add'
  4bb785797f05a12aa8604fb9e522851873d8e66f
Due: none

build(project): add deploy GitHub workflow
  .github/workflows/deploy.yaml
Due: none

Notes added by 'git notes add'
  278a61f1cfbc70270748cb120f747fb4f61d73f4
Due: none

Notes added by 'git notes add'
  0fce44cad7bc20801544ba9fbef19e85179799d5
Due: none

chore(release): release version 1.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  d082072c84191cff6f3c51f981c45bb8c7497730
Due: none

chore(project): change name
  package.json
Due: none

chore(project): change commitizen config file name
  cz.json
Due: none

style(project): change body colour
  src/global.css
  src/routes/styles.css
Due: npm run lint:stylelint:staged:fix

build(project): remove requirement to capture next version number
  .github/workflows/deploy.yaml
  .releaserc
Due: none

chore(project): update dependencies
  package-lock.json
  package.json
  vite.config.ts
Due: npm run lint:eslint:staged:fix

chore(project): update .eslintignore configuration
  .eslintignore
Due: none

chore(project): update dependencies
  package-lock.json
  package.json
Due: none

chore(project): add script to clear server build
  package.json
Due: none

feat(project): add static HTML file with redirection logic
  public/redirect.html
Due: none

chore(release): release version 1.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  803d765541d48f46955c6334a91622a405344b12
Due: none

chore(project): add rimraf
  package-lock.json
  package.json
Due: none

chore(project): use correct configuration file name for commitizen
  .cz.json
Due: none

chore(project): update dependencies
  adapters/static/vite.config.ts
  package-lock.json
  package.json
  tsconfig.json
Due: npm run lint:eslint:staged:fix

feat(project): disable default 404 page
  adapters/static/vite.config.ts
Due: npm run lint:eslint:staged:fix

chore(release): release version 1.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  bd992286d8f7962ed071cc144cfae4405f680ca1
Due: none

fix: change flex flow on main page
  src/routes/styles.css
Due: npm run lint:stylelint:staged:fix

feat: add avatar component
  src/components/avatar/index.tsx
  src/components/avatar/styles.css
Due: npm run lint:stylelint:staged:fix

feat: add sign in button component
  src/components/sign-in-button/index.tsx
  src/components/sign-in-button/styles.css
Due: npm run lint:stylelint:staged:fix

build: add references to client manifest
  src/entry.preview.tsx
  src/entry.ssr.tsx
Due: none

chore: update package-lock.json
  package-lock.json
Due: none

chore: install oidc-client-ts library
  package-lock.json
  package.json
Due: none

build: change TypeSript target to ES6
  tsconfig.json
Due: none

feat(project): add client environment variables
  .eslintignore
  .github/workflows/deploy.yaml
  .gitignore
  config.template
  src/components/router-head/router-head.tsx
  src/env.ts
Due: npm run lint:eslint:staged:fix

chore(release): release version 1.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  03a6cd8c48a2c9a6c545988bdfd40a7af413e4c1
Due: none

feat: add auth service
  src/services/auth/index.ts
Due: npm run lint:eslint:staged:fix

feat: add configured auth service
  src/utils/auth/index.ts
Due: npm run lint:eslint:staged:fix

feat: implement login functionality
  src/routes/auth/index.tsx
  src/routes/index.tsx
  src/routes/styles.css
Due: npm run lint:stylelint:staged:fix

fix: use lazy loading
  src/env.ts
  src/routes/auth/index.tsx
  src/routes/index.tsx
  src/utils/auth/index.ts
Due: npm run lint:eslint:staged:fix

chore(release): release version 1.4.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  6426b3c93e0f4180c76ec691435ff23a2651b96e
Due: none

chore: change local development server port
  vite.config.ts
Due: npm run lint:eslint:staged:fix

Path conditions:
  npm run lint:eslint:staged:fix: any of: *.{ts,js}
  npm run lint:stylelint:staged:fix: any of: *.css
