Repository aldra-consulting/landing-page-web: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:eslint:staged:fix, npm run lint:stylelint:staged:fix

feat: add functionality for silent sign-in
  src/services/auth/index.ts
Due: npm run lint:eslint:staged:fix

fix: sign-in flow
  src/routes/auth/index.tsx
  src/routes/index.tsx
Due: none

fix: fix avatar slot on the screen
  src/routes/styles.css
Due: npm run lint:stylelint:staged:fix

chore(release): release version 1.5.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  41080865941ead2d8208e31ee4c2f0b2440a249f
Due: none

fix: always navigate to root after on completing sign-in
  src/routes/auth/index.tsx
Due: none

chore: fix vulnerabilities
  package-lock.json
Due: none

chore(release): release version 1.5.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  356d11098a517f7c68fc805abf98567d84305fe3
Due: none

fix: add logging to debug sign-in issue
  src/routes/auth/index.tsx
Due: none

chore(release): release version 1.5.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  609b04500072a0af12cbc936ca1f4f0195f0471f
Due: none

fix: use signinCallback and set log level for debugging
  src/routes/auth/index.tsx
  src/services/auth/index.ts
Due: npm run lint:eslint:staged:fix

chore(release): release version 1.5.3 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  eeb7eb1392abc4a56231868658781b2e8055ecaa
Due: none

fix: use console logger
  src/services/auth/index.ts
Due: npm run lint:eslint:staged:fix

chore(release): release version 1.5.4 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  41b6afd44976d661cfbfe34ce28d6ceec472a9a8
Due: none

fix: remove navigation
  src/routes/auth/index.tsx
Due: none

chore(release): release version 1.5.5 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  3c38ec266ee6b3802780319c2f0e1141029d9058
Due: none

fix: bring back navigation
  src/routes/auth/index.tsx
Due: none

chore(release): release version 1.5.6 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  ab4b5258d44c091cb49c836f0e7a15fc9a18e026
Due: none

fix: use signInSilent for fetching user on main page
  src/routes/index.tsx
Due: none

chore(release): release version 1.5.7 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  afc80e79f0d97b2e0fdb9a9257c3138241e24b53
Due: none

fix: use getUser for fetching user on main page
  src/routes/index.tsx
Due: none

chore(release): release version 1.5.8 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  0af1ee5967fde5fac0c0766a0c5cadb62762947b
Due: none

fix: add logging
  src/services/auth/index.ts
Due: npm run lint:eslint:staged:fix

chore(release): release version 1.5.9 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  3c5c1798389ff372f92bcd73899d8a8859276629
Due: none

fix: add debugger
  .eslintrc.json
  src/services/auth/index.ts
Due: npm run lint:eslint:staged:fix

chore(release): release version 1.5.10 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  d3431144dc47f38edc4af87dc8bf8ababcc18cf9
Due: none

fix: revert previous changes
  .eslintrc.json
  src/services/auth/index.ts
Due: npm run lint:eslint:staged:fix

chore(release): release version 1.5.11 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  2b7d6a87e9aa0fe4a745beed24f9ec1905c90a63
Due: none

fix: set background to html and body elements
  src/global.css
Due: npm run lint:stylelint:staged:fix

Path conditions:
  npm run lint:eslint:staged:fix: any of: *.{ts,js}
  npm run lint:stylelint:staged:fix: any of: *.css
